.card {
  margin-bottom: 15px;
  word-wrap: break-word;
}

.card-single {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  background-color: var(--card-single);
  border-radius: 8px;
  margin-bottom: 20px;
}

.card-v {
  display: flex;
  flex-direction: column;
}

.card-h {
  display: flex;
  flex-direction: row;
}

.card-h .card-1 {
  background-color: var(--card-top);
  padding: 12px;
  border-radius: 16px 0px 0px 16px;
}

.card-h .card-2 {
  background-color: var(--card-bot);
  padding: 5px 15px 13px 15px;
  border-radius: 0px 15px 8px 0px;
}

.card-v .card-1 {
  background-color: var(--card-top);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 15px 8px 15px;
  border-radius: 16px 8px 0px 0px;
}

.card-v .card-2 {
  padding: 5px 10px 13px 15px;
  background-color: var(--card-bot);
  font-weight: 300;
  border-radius: 0px 0px 8px 8px;
}

.card h1 {
  color: var(--card-header);
  font-weight: 100;
  font-size: 24pt;
  margin: 0px 0px 2px 0px;
}

.card h4 {
  color: var(--gray1);
  font-weight: 500;
  font-size: 12pt;
  margin: 0px 0px 2px 0px;
}

.card-desc {
  font-size: larger;
  margin-top: 0;
  padding-top: 5px;
}

.card ul {
  list-style: none;
  list-style-position: outside;
}

.card ul li::before {
  content: "\2022";
  font-size: 1.2em;
  color: var(--red1);
  display: inline-block;
  font-weight: bold;
  width: 1.1em;
  margin-top: -0.3em;
  margin-left: -1.5em;
  overflow-wrap: break-word;
}

@media screen and (max-width: 675px) {
  .card-v .card-1 {
    flex-direction: column;
  }
  .card-1 p {
    text-align: left;
  }

}

@media screen and (max-width: 1000px) {
  .card-h {
    flex-direction:column;
  }

  .card-h .card-1 {
    border-radius: 10px 10px 0 0;
  }

  .card-h .card-2 {
    border-radius: 0 0 10px 10px;
  }

  .card-h img {
    width: 100%;
  }

}