:root {
  --card-top: rgb(46, 44, 44);
  --card-bot: #333232;
  --card-single: #2b2928;
  --card-bg2: #2e2c2c;
}

.card {
  margin-bottom: 15px;
  word-wrap: break-word;
}

.card-single {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  background-color: var(--card-single);
  border-radius: 8px;
  margin-bottom: 20px;
}

.card-v {
  display: flex;
  flex-direction: column;
}

.card-h {
  display: flex;
  flex-direction: row;
}

.card-h .card-1 {
  background-color: var(--card-top);
  padding: 10px;
  border-radius: 16px 0px 0px 16px;
}

.card-h .card-2 {
  width: 100%;
  background-color: var(--card-bot);
  padding: 5px 15px 10px 15px;
  border-radius: 0px 15px 8px 0px;
}

.card-v .card-1 {
  background-color: var(--card-top);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 15px 8px 15px;
  border-radius: 16px 8px 0 0;
}

.card-v .card-2 {
  padding: 5px 10px 13px 15px;
  background-color: var(--card-bot);
  font-weight: 300;
  border-radius: 0px 0px 8px 8px;
}

.card p3 {
  align-self: center;
  font-weight: 300;
}

@media screen and (max-width: 675px) {
  .card-v .card-1 {
    flex-direction: column;
  }

  .card-1 p {
    text-align: left;
  }

  .card {
    margin: 8px 3px;
  }
}

@media screen and (max-width: 1000px) {
  .card-h {
    flex-direction: column;
  }

  .card-h .card-1 {
    border-radius: 10px 10px 0 0;
  }

  .card-h .card-2 {
    width: auto;
    border-radius: 0 0 10px 10px;
  }

  .card p3 {
    align-self: flex-start;
  }

  .card-h img {
    width: 100%;
  }
}
