:root {
  --contentbg: hsl(200, 9%, 15%);
  --scrollbar: hsl(200, 10%, 40%);
  --content-header: hsl(200, 13%, 70%);
  --content-bg2: hsl(0, 3%, 15%);
  --sep: hsl(200, 9%, 20%);
  --content-bb: hsl(200, 9%, 20%);
}

#shad-top {
  position: relative;
  height: 20px;
  /* box-shadow: 0 0 20px -10px white inset; */
  box-shadow: 0 10px 10px 0 var(--darkshad);
  /* background-color: red; */
  margin-top: -16px;
  margin-left: -16px;
  z-index: 2;
}

#sep {
  position: absolute;
  width: 2px;
  height: 55px;
  margin-left: -13px;
  border-radius: 2px;
  background-color: var(--sep);
}

.page-end {
  position: relative;
  background-color: var(--page-end);
  margin-top: 40px;
  margin-bottom: 10px;
  width: 13vw;
  height: 4px;
  border-radius: 10px;
  left: 50%;
  transform: translate(-50%);
}

#content-header {
  display: flex;
  align-items: center;
  min-height: var(--top-row-height);
  padding-left: 10px;
  z-index: 2;
  border-bottom: 2px solid var(--topline);
  margin-bottom: 3px;
}

#content-header h1 {
  color: var(--content-header);
  margin: 0;
  font-size: 26pt;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 10px;
}

#content {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  width: 100%;
  padding: 20px;

  color: var(--gray);
  background-color: var(--contentbg);
  border-radius: 3px;
  border-bottom: 3px solid var(--content-bb);
  box-shadow: 20px -20px 20px -10px var(--darkshad);

  /* Firefox scrollbar styling: */
  scrollbar-width: 10px;
  scrollbar-color: var(--scrollbar) var(--content-bg);
}

#content::-webkit-scrollbar {
  background-color: none;
  width: 14px;
}

#content::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 22px;
  border: 5px solid var(--content-bg2);
  background-clip: padding-box;
}

#content-header h2 {
  font-size: 25pt;
}

@media screen and (max-width: 600px) {
  #content-header {
    display: none;
  }

  #content {
    overflow: auto;
    width: 100%;
    padding: 4px;
  }
}
