#sep {
  position: absolute;
  width: 4px;
  height: 48px;
  margin-left: -27px;
  border-radius: 10px;
  z-index: 2;
  background-color: var(--sep);
}

#sep-sm {
  display: none;
  width: 4px;
  height: 48px;
  border-radius: 8px;
  z-index: 2;
  background-color: var(--sep);
}

.page-end {
  position: relative;
  background-color: var(--page-end);
  margin-top: 40px;
  margin-bottom: 10px;
  width: 13vw;
  height: 4px;
  border-radius: 10px;
  left: 50%;
  transform: translate(-50%);
}

#content-header {
  box-sizing: border-box;
  color: var(--content-header);
  display: flex;
  align-items: center;
  font-size: 22pt;
  height: var(--top-row-height);
  width: 100%;
  padding-left: 22px;
  z-index: 3;
  text-transform: uppercase;
}

#shadow-top {
  display: none;
  position: relative;
  margin-bottom: -15px;
  width: 99%;
  height: 10px;
  z-index: 2;
  box-shadow: inset 0px 10px 8px -8px var(--content-bg);
  border-radius: 7px 15px 0px 0px;
}

#shadow-bottom {
  display: none;
  position: relative;
  margin-top: -10px;
  width: 100%;
  height: 10px;
  z-index: 2;
  box-shadow: inset 0px -10px 8px -8px var(--content-bg);
  border-radius: 0px 0px 15px 15px;
}

#content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  width: 100%;
  padding: 12px 6px 12px 12px;

  color: var(--gray);
  background-color: var(--content-bg);
  background-image: var(--content-bg-grad);
  border-radius: 8px 7px 7px 15px;
  box-shadow: 20px -20px 30px -10px var(--page-bg2);

  /* Firefox scrollbar styling: */
  scrollbar-width: 12px;
  scrollbar-color: var(--sb) var(--content-bg);
}

#content::-webkit-scrollbar {
  background-color: none;
  width: 14px;
}

#content::-webkit-scrollbar-thumb {
  background-color: var(--sb);
  border-radius: 22px;
  border: 6px solid var(--content-bg2);
  background-clip: padding-box;
}

@media screen and (max-width: 675px) {
  #content-header {
    display: none;
  }

  #sep-sm {
    display: none;
  }

  #content {
    overflow: auto;
    width: auto;
    padding: 4px;
  }
}
