:root {
  --scrollbar: #4a443f;
  --content-header: #b6b1af;
  --content-bg: #292827;
  --content-bg2: #272525;
  --content-bg-grad: linear-gradient(
    135deg,
    var(--content-bg),
    var(--page-bg3)
  );
}

#sep {
  position: absolute;
  width: 4px;
  height: 48px;
  margin-left: -27px;
  border-radius: 10px;
  z-index: 2;
  background-color: var(--sep);
}

.page-end {
  position: relative;
  background-color: var(--page-end);
  margin-top: 40px;
  margin-bottom: 10px;
  width: 13vw;
  height: 4px;
  border-radius: 10px;
  left: 50%;
  transform: translate(-50%);
}

#content-header {
  display: flex;
  align-items: center;
  min-height: var(--top-row-height);
  padding-left: 22px;
  z-index: 3;
}

#content-header h1 {
  color: var(--content-header);
  margin: 0;
  font-family: "bahn";
  text-transform: uppercase;
}

#content {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  width: 100%;
  padding: 12px 6px 12px 16px;

  color: var(--gray);
  background-color: var(--content-bg);
  background-image: var(--content-bg-grad);
  border-radius: 8px 7px 7px 15px;
  box-shadow: 20px -20px 30px -10px var(--page-bg2);

  /* Firefox scrollbar styling: */
  scrollbar-width: 12px;
  scrollbar-color: var(--scrollbar) var(--content-bg);
}

#content::-webkit-scrollbar {
  background-color: none;
  width: 14px;
}

#content::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 22px;
  border: 6px solid var(--content-bg2);
  background-clip: padding-box;
}

#content-header h2 {
  font-size: 22pt;
}

@media screen and (max-width: 600px) {
  #content-header {
    display: none;
  }

  #content {
    overflow: auto;
    width: 100%;
    padding: 4px;
  }
}
