@import "nav.css";
@import "content.css";
@import "card.css";
@import "util.css";
@import "pages.css";

:root {
  --page-end: #363331;
  --page-bg: #21201f;
  --page-bg2: #1d1c1b;
  --page-bg3: #242221;
  --home: #bfb2ac;
  --home-sub: rgb(204, 194, 190);
  --sep: #5e524f;
  --top-row-height: 80px;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--page-bg);
  color: var(--white);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
}

#main {
  display: flex;
  flex-direction: row;
  max-height: 99vh;
}

#main-one {
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-right: 8px;
}

#main-two {
  display: flex;
  flex-direction: column;
  width: 55vw;
  max-width: 700px;
  max-height: 100%;
}

#home-lg {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  width: 100%;
  height: var(--top-row-height);
  min-height: var(--top-row-height);
}

#home-lg img {
  margin-top: 5px;
  margin-right: 3px;
}

#home-lg h2 {
  color: var(--home);
  font-size: 18pt;
  font-weight: 200;
  margin: 0;
}

#home-lg h3 {
  margin: 0;
  margin-top: -2px;
  font-size: 9pt;
  font-weight: 500;
  color: var(--home-sub);
}

@media screen and (max-width: 600px) {
  #main {
    flex-direction: column;
    width: 100vw;
    min-width: auto;
  }

  #main-two {
    width: auto;
    margin-top: 50px;
  }

  #home-lg {
    display: none;
  }
}
