@import "nav.css";
@import "subnav.css";
@import "content.css";
@import "card.css";
@import "util.css";

body {
  display: flex;
  justify-content: center;
  background-color: var(--page-bg);
  color: #c8c8c8;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
}

#main {
  background-color: none;
  display: flex;
  justify-content: center;
  width: 80vw;
  max-width: 1000px;
  height: 100%;
  color: var(--white);
}

#main-left-col {
  display: inline-block;
  align-content: flex-start;
  height: 100%;
  margin-right: 9px;
}

#main-right-col {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  width: 77vw;
  min-width: 400px;
}

#home-lg {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--top-row-height);
  font-size: 15pt;
}

#home-sm {
  display: none;
}

#home-lg img,
#home-sm img {
  border-radius: 10px;
  margin-right: 12px;
}

@media screen and (max-width: 675px) {
  #main {
    flex-flow: row wrap;
    width: 100vw;
    margin: 52px 3px 3px 3px;
    align-content: center;
  }

  #main-left-col,
  #main-right-col {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    min-width: auto;
    align-content: center;
  }

  #home-lg {
    display: none;
  }

  #home-sm {
    display: flex;
    align-items: center;
    font-size: 14pt;
  }
  #home-sm img {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  #home-sm p {
    display: none;
  }
}

@media screen and (max-width: 321px) {
  #main {
    margin-top: 35px;
  }
}
