#nav-end {
  position: relative;
  background-color: var(--nav-end);
  margin-top: 30px;
  margin-bottom: 0px;
  width: 55%;
  height: 5px;
  border-radius: 10px;
  align-self: center;
  z-index: 2;
}

#nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-image: var(--nav-bg);

  padding-top: 20px;
  padding-left: 8px;
  padding-bottom: 25px;
  border-radius: 25px 7px 7px 5px;
  z-index: 2;
  box-shadow: -10px 10px 20px 0px var(--page-bg2);
}

.nav-link {
  font-family: "bahn";
  font-size: 16pt;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  width: 88%;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-top: 6px;
  padding-bottom: 4px;
  color: var(--gray1);
  border-radius: 9px;

  /* Color fade in/out */
  transition: color 0.1s ease-in, background-color 0.1s ease-in;
  -webkit-transition: color 0.1s ease-in, background-color 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background-color 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background-color 0.1s ease-in;
}

.nav-link:hover {
  color: var(--red4);
  background-color: var(--page-bg);
}

.nav-link-act {
  color: var(--nav-act);
  background-color: var(--page-bg);
}

.subnav {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
}

.subnav a {
  text-decoration: none;
  font-weight: 300;
  margin-bottom: 15px;
  color: var(--gray);

  /* Color fade in/out */
  transition: color 0.1s ease-in;
  -webkit-transition: color 0.1s ease-in;
  -moz-transition: color 0.1s ease-in;
  -o-transition: color 0.1s ease-in;
}

.subnav a:hover {
  color: var(--red4);
}

@media screen and (max-width: 675px) {
  #nav-end {
    display: none;
  }

  .subnav {
    display: none !important;
  }

  #nav {
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translate(-50%);

    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 8px;
    height: 55px;

    background-color: var(--page-bg);
    background-image: var(--nav-bg-sm);

    border-radius: 9px;
    box-shadow: 0px 10px 20px 0px var(--page-bg);
  }

  .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 8px 12px 8px;
    margin: 0;
    border-radius: 8px;
    font-size: 3.5vw;
  }

  .nav-link-act {
    color: var(--red);
    background-color: var(--page-bg);
  }
}
