/* Global */
:root {
  --intro-text: hsl(200, 11%, 75%);
  --intro-bg: hsl(200, 14%, 19%);
  --flink-bg: hsl(200, 20%, 30%);
}

.intro {
  display: flex;
  margin: 0 0 22px 0;
  padding: 20px;
  color: var(--intro-text);
  border-radius: 4px;
  background-color: var(--intro-bg);
}

@media screen and (max-width: 1000px) {
  .intro {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .intro {
    margin: 4px;
  }
}

/* About */

.card img {
  border-radius: 3px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: hsl(200, 9%, 17%);
  border-radius: 3px;
  margin-top: 4px;
  padding: 8px 0;
}

.social-link {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.social-link img {
  border-radius: 0;
  width: 22px;
  margin-right: 6px;
}

.social-link a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.p2 {
  font-weight: 400;
  margin-top: 5px;
}

.p3 {
  margin-top: -5px;
  font-size: 12pt;
}

/* Experience */

.exp-one {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .exp-one {
    flex-direction: column;
    align-items: center;
  }

  .exp-one .headers {
    text-align: center;
  }

  .exp-one .p3 {
    margin-top: -5px;
  }
}

/* Projects */

.proj-one {
  display: flex;
  width: 100%;
}

.proj-one .headers {
  width: 100%;
}

.flink {
  color: hsl(200, 10%, 90%);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-self: center;
  background-color: var(--flink-bg);
  border-radius: 5px;
  padding: 4px 6px;
  box-shadow: 0 2px 4px 0 var(--darkshad);
}

.flink-icon {
  width: 16px;
  height: 16px;
  margin-top: 4px;
  margin-right: 6px;
}

@media screen and (max-width: 675px) {
  .proj-one {
    flex-direction: column;
    margin-left: 0;
  }

  .proj-one .flink {
    margin-top: 5px;
  }
}

/* Contact */

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px 4px 0 4px;
  font-size: 18pt;
  font-weight: 300;
}

input[type="submit"] {
  background-color: var(--btn-send);
  width: 150px;
  margin-right: 10px;
  border: none;
  color: white;
}

input[type="reset"] {
  width: 150px;
  background-color: var(--btn-reset);
  border-color: var(--reset-border);
  color: white;
}

textarea,
input {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(34, 32, 32);
  background-color: var(--gray5);
  border-radius: 6px;
  margin-bottom: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 8px;
  font-size: 16pt;
  width: 100%;
}

textarea:focus,
input:focus {
  outline: none;
  border-style: solid;
  border-color: var(--orange);
}

textarea {
  height: 100px;
  resize: vertical;
  line-height: 1;
  height: 7rem;
}

input {
  width: 100%;
  height: 50px;
}

.inp {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.inp label {
  width: 150px;
}

#buttons {
  margin-top: 20px;
  align-self: center;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 800px) {
  .inp {
    flex-direction: column;
  }

  .social-link:first-child a {
    padding-left: 0;
  }

  #buttons {
    margin-top: 10px;
    width: 100%;
  }

  input[type="submit"],
  input[type="reset"] {
    width: 100%;
  }
}
