* {
  color: var(--white);
}

@font-face {
  font-family: "bahn";
  src: url(BAHNSCHRIFT.TTF);
}

:root {
  --white: rgb(220, 220, 220);
  --gray: rgb(200, 200, 200);
  --gray1: rgb(190, 190, 190);
  --gray2: rgb(140, 140, 140);
  --gray3: rgb(110, 110, 110);
  --gray4: rgb(80, 80, 80);
  --orange: #bd906c;
  --a: #baa987;

  --bullet: #97665a;
}

.flink-icon {
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  margin-top: 4px;
  margin-right: 5px;
}

.flink {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: auto;
  height: auto;
}

a {
  color: var(--a);
  font-weight: 300;
  text-decoration-color: var(--gray3);
  text-decoration-thickness: 1px;
}

p {
  font-size: larger;
  margin-top: 0;
  padding-top: 5px;
}

h1 {
  color: var(--orange);
  font-weight: 100;
  font-size: 24pt;
  margin: 0px 0px 2px 0px;
}

h2 {
  color: var(--white);
  margin: 0;
  font-weight: 300;
  font-size: 20pt;
}

h3 {
  color: var(--gray);
  font-weight: 300;
  font-size: 13pt;
}

h4 {
  color: var(--gray1);
  font-weight: 500;
  font-size: 12pt;
  margin: 0px 0px 2px 0px;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: var(--bullet);
  display: inline-block;
  font-weight: bold;
  font-size:larger;
  width: 1.1em;
  margin-left: -1.1em;
}

.bahn {
  font-family: "bahn";
}
