@font-face {
  font-family: "bahn";
  src: url(BAHNSCHRIFT.TTF);
}

:root {
  --white: rgb(210, 210, 210);
  --gray: rgb(200, 200, 200);
  --gray1: rgb(190, 190, 190);
  --gray2: rgb(140, 140, 140);
  --gray3: rgb(110, 110, 110);
  --gray4: rgb(80, 80, 80);
  --red: #ba7768;
  --red5: #955f52;
  --red4: #cd8e80;
  --red1: #ab8c85;
  --red2: #786966;
  --red3: #baa29c;

  --page-bg: #21201f;
  --page-bg2: #1d1c1b;
  --content-bg: #292827;
  --card-bg: rgb(48, 46, 45);
  --card-bg2: #2e2c2c;
  --nav-bg: linear-gradient(
    190deg,
    var(--content-bg),
    var(--content-bg),
    #222120
  );
  --nav-bg-sm: linear-gradient(
    var(--content-bg),
    #222120
  );
  --header-bg: linear-gradient(180deg, #262524, var(--page-bg));

  --top-row-height: 80px;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--page-bg);
  color: #c8c8c8;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
}

#main {
  background-color: none;
  display: flex;
  justify-content: center;
  width: 80vw;
  max-width: 1000px;
  height: 100%;
  color: var(--white);
}

#main-left-col {
  flex-flow: row wrap;
  align-content: flex-start;
  width: 380px;
  min-width: 200px;
  height: 100%;
  margin-right: 9px;
}

#main-right-col {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  width: 77vw;
  min-width: 400px;
}

@media screen and (max-width: 625px) {
  #main {
    flex-flow: row wrap;
    width: 100vw;
    margin: 45px 3px 3px 3px;
    align-content:center;
  }
  #main-left-col,
  #main-right-col{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    min-width: auto;
    align-content:center;
  }
}

@media screen and (max-width: 321px) {
  #main {
    margin-top: 35px;
  }
}

#home {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--top-row-height);
  font-size: 20pt;
  /* if i want bg on header and home */
  /* margin-bottom: 7px; */
}

@media screen and (max-width: 625px) {
  #home {
    width: fit-content;
  }
}

#home-img {
  border-radius: 10px;
  margin-right: 12px;
}

#red-sep {
  position: absolute;
  width: 4px;
  height: 48px;
  margin-left: -26px;
  border-radius: 8px;
  z-index: 2;
  background-color: var(--red5);
}

#content-header {
  display: flex;
  align-items: center;
  font-size: 24pt;
  height: var(--top-row-height);
  width: 100%;
  padding-left: 20px;

  /* if i want bg on header and home */
  /* margin-bottom: 7px; */
  /* background-color: var(--page-bg); */
  /* background-image: var(--header-bg); */
  /* border-radius: 10px 10px 10px 10px; */
}

@media screen and (max-width: 625px) {
  #content-header {
    display: none;
  }
}

#shadow-top {
  position: relative;
  margin-bottom: -15px;
  width: 99%;
  height: 10px;
  z-index: 2;
  box-shadow: inset 0px 10px 8px -8px var(--content-bg);
  border-radius: 7px 15px 0px 0px;
}

#shadow-bottom {
  position: relative;
  margin-top: -10px;
  width: 100%;
  height: 10px;
  z-index: 2;
  box-shadow: inset 0px -10px 8px -8px var(--content-bg);
  border-radius: 0px 0px 15px 7px;
}

#content {
  color: var(--gray);
  display: flex;
  flex-direction: column;
  background-color: var(--content-bg);
  width: 100%;
  height: 80vh;
  padding: 15px;
  overflow-y: auto;
  border-radius: 7px 15px 15px 7px;
  /* Firefox: */
  scrollbar-width: 12px;
  scrollbar-color: var(--gray4) var(--content-bg);
}

#content::-webkit-scrollbar {
  background-color: none;
  width: 12px;
}

#content::-webkit-scrollbar-thumb {
  background-color: var(--gray4);
  border-radius: 20px;
  border: 4px solid var(--content-bg);
  background-clip: padding-box;
}

@media screen and (max-width:625px){
  #content {
    height: auto;
    margin: 4px;
    padding: 10px;
  }
  #shadow-top,
  #shadow-bottom {
    display:none;
  }
  #home {
    display: none;
  }
}

#nav {
  background-image: var(--nav-bg);
  height: 80vh;
  padding-top: 20px;
  padding-left: 15px;
  border-radius: 17px 7px 7px 17px;
}

#nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-link {
  display: inline-block;
  width: 88%;
  font-size: 16pt;
  text-decoration: none;
  text-transform: uppercase;
  /* color: var(--white); */
  color: var(--gray1);
  margin-bottom: 8px;
  padding-left: 15px;
  padding-top: 6px;
  padding-bottom: 4px;
  border-radius: 8px;

  /* Color fade in/out */
  transition: color 0.1s ease-in, background-color 0.1s ease-in;
  -webkit-transition: color 0.1s ease-in, background-color 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background-color 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background-color 0.1s ease-in;
}

@media screen and (max-width: 625px) {
  #nav {
    background-color: var(--page-bg);
    background-image: var(--nav-bg-sm);
    align-self:center;
    position: fixed;
    height: auto;
    padding: 15px;
    border-radius: 9px;
    width: 94%;
    top: 11px;
    left: 50%;
    transform: translate(-50%, -12%);
    box-shadow: 0px 10px 18px -10px var(--page-bg);
  }

  #nav ul {
    display: flex;
    justify-content: center;
    width: 0 auto;
  }

  .nav-link {
    width: auto;
    padding: 9px 8px 8px 8px;
    margin: 0px 7px 0px 7px;
    font-size: 12pt;
  }
}

@media screen and (max-width: 376px) {
  .nav-link {
    font-size: 10.5pt;
  }
}

@media screen and (max-width: 321px) {
  #nav {
    top: 9px;
    padding: 10px;
    width: 92%;
  }
  .nav-link {
    font-size: 8.5pt;
    padding: 9px 5px 7px 5px;
  }
}

.nav-link:hover {
  color: var(--red4);
  background-color: var(--page-bg);
}

.nav-link-act {
  color: var(--red);
}

/* Sub-navigation */

.subnav {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  margin-bottom: 00px;
}

@media screen and (max-width: 625px) {
  .subnav {
    display: none;
  }
}

.subnav a {
  text-decoration: none;
  margin-bottom: 20px;
  color: var(--gray1);

  /* Color fade in/out */
  transition: color 0.1s ease-in;
  -webkit-transition: color 0.1s ease-in;
  -moz-transition: color 0.1s ease-in;
  -o-transition: color 0.1s ease-in;
}

.subnav a:hover {
  color: var(--red4);
}

/* Card */

.card {
  height: fit-content;
  background-color: var(--card-bg2);
  padding: 15px;
  margin-bottom: 25px;
}

.card h1 {
  color: var(--white);
  font-family: "bahn";
  font-weight: 100;
  font-size: 22pt;
  margin: 0px 0px 2px 0px;
}

.card h4 {
  font-family: "bahn";
  font-weight: 100;
  margin: 0px 0px 3px 0px;
}

.card em {
  font-style: normal;
  margin-right: 4px;
  margin-left: 4px;
  color: var(--gray2);
}

.card ul {
  list-style: none;
  margin-top: 10px;
}

.card ul li::before {
  content: "\2022";
  font-size: 1.2em;
  color: var(--red1);
  display: inline-block;
  font-weight: bold;
  width: 1.1em;
  margin-top: -0.3em;
  margin-left: -1.5em;
}

.round-corner-lg {
  border-radius: 10px;
}

.round-corner-sm {
  border-radius: 8px;
}

.bahn {
  font-family: "bahn";
}
